
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:sans-serif;
}
.nav{
    background: rgb(16, 174, 16);
    height: 70px;
    width: 100%;
}
label.logo{
    color:#f1f7f1;
    font-size: 27px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
    margin-top: 20px;
}
.nav ul{
    float: right;
    margin-right: 20px;
}
.nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
 a:hover{
    background: rgb(113, 113, 184);
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor:pointer;
    display: none;
}
.nav ul li ul{
    position: absolute;
    display: none;
    background-color: rgb(55, 186, 55);
    border-radius: 0px,0px,5px,5px;

    
}
.nav ul li:hover ul{
        display: block;
}
.nav ul li ul li{
    line-height: 1;
    width: 190px;
    padding: 6px;
    border-radius: 6px;
}
.nav ul li ul li a{
    padding: 10px 16px;
}
.nav ul li ul li a:hover{
    background-color: #46527a;

}
#check{
    display: none;
}

@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(2, 136, 20);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all o.5s;
    }
    .nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav ul li a{
        font-size:20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(6, 103, 14);
    }
    #check:checked ~ ul{
        left:0
    }
    
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 234, 231);
    
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #f1f7f1;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
}
.icon:hover{
    width: 400px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-facebook{
    color: #1A6ED8;
}
.fb:hover{
    background: #1A6ED8;
}
.icon .fa-whatsapp{
    color: #06d741;
}
.wp:hover{
    background: #06d741;
}
.icon .fa-envelope{
    color: rgb(230, 59, 59);
}
.mail:hover{
    background: rgb(230, 59, 59);
}
.icon .fa-instagram{
    color: rgba(125, 15, 15, 0.696);
}
.inst:hover{
    background: rgba(125, 15, 15, 0.696);
}
@media only screen and (min-width:320px) and (max-width:991px){
    .main{
        flex-direction: column;
        
    }
}
.slider-frame{
    overflow: hidden;
    height: 500px;
    width: 1220px;
    margin-left: 0;
    margin-top: 0;
    background: green;
}
@-webkit-keyframes slide_animation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}
.slide-images{
    width: 2800px;
    height: 700px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    height: 800px;
    width: 1500px;
    position: relative;
    float: left;
}

